{% extends "header.html" %}

{% block head %}
{% endblock %}


{% block content %}
<div class="container mx-auto p-8">
    <div class="bg-white rounded-lg shadow-lg p-6 mb-8">
        <h2 class="text-2xl font-bold mb-4">Добавить новую категорию</h2>
        <form action="{{ url_for('create_category_template') }}" method="post">
            <div class="mb-4">
                <label class="block text-gray-700" for="new_name">Введите название: </label>
                <input class="border-2 border-gray-300 p-2 w-full rounded-lg" type="text" id="new_name" name="name" required>
            </div>
            <button class="bg-green-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-green-600" type="submit">Добавить категорию</button>
        </form>
    </div>

    {% for category in categories %}
        <div class="bg-white rounded-lg shadow-lg p-6 mb-8">
            <div class="flex justify-between items-center mb-4">
                <span class="text-2xl font-bold">{{ category.name }}</span>
                <div class="flex space-x-4">
                    <form action="{{ url_for('delete_category_template', id=category.id) }}" method="post">
                        <button class="bg-red-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-red-600" type="submit">Удалить</button>
                    </form>
                </div>
            </div>
            <div class="bg-gray-100 p-4 rounded-lg">
                <form action="{{ url_for('update_category_template', id=category.id) }}" method="post">
                    <div class="mb-4">
                        <label class="block text-gray-700" for="new_name_{{ category.id }}">Введите новое название: </label>
                        <input class="border-2 border-gray-300 p-2 w-full rounded-lg" type="text" id="new_name_{{ category.id }}" name="name" required>
                    </div>
                    <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-600" type="submit">Сохранить изменения</button>
                </form>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

