{% extends "header.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <main class="flex justify-center items-center min-h-screen">
        <div class="bg-white p-8 rounded-lg shadow-lg max-w-2xl w-full">
            <h1 class="text-2xl font-bold mb-4">{{ recipe.name }}</h1>
            <div class="flex justify-between items-center mb-6">
                <div class="flex items-center">
                    <span class="font-semibold mr-2">Рейтинг:</span>
                    <span class="text-yellow-500">{{ recipe.rating }}</span>
                </div>
                <div class="flex items-center">
                    <span class="font-semibold mr-2">Категория:</span>
                    <span>{{ recipe.category['category'].name }}</span>
                </div>
            </div>
            <div class="ingredients">
                <h2 class="text-xl font-semibold mb-4">Ингредиенты:</h2>
                <ul class="list-disc list-inside">
                    {% for ingredient in ingredients %}
                        <li class="mb-2">{{ ingredient.name }} - {{ ingredient.grams }} г.</li>
                    {% endfor %}
                </ul><br><br>
            </div><br><br><br>
            <h1 class="text-2xl font-bold mb-4">Добавить ингредиент:</h1>
            <form action="{{ url_for('create_recipe_ingredient_template', recipe_id=recipe.id) }}" method="post">
                <div class="mb-4">
                    <label class="block text-gray-700" for="ingredient">Выберите ингредиент: </label>
                    <select class="border-2 border-gray-300 p-2 w-full rounded-lg" name="ingredient">
                        {% for ingredient in list_ingredients %}
                            <option value="{{ ingredient.id }}">{{ ingredient.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700" for="grams_amount">Введите граммовку: </label>
                    <input class="border-2 border-gray-300 p-2 w-full rounded-lg" type="text" id="grams_amount" name="grams_amount" required>
                </div>
                <button class="bg-green-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-green-600" type="submit">Добавить ингредиент</button>
            </form>
        </div>
    </main>
{% endblock %}